<h2><%= @band.name %></h2>

<a href="<%= band_url(@band) %>">Edit Band</a>

<form action="<%= band_url(@band) %>" method="POST">
    <%= auth_token %>
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Band">
</form>

<a href="<%= bands_url %>">All Bands</a>